[Unit]
Description=Load Carla Rack JACK host
After=pipewire-pulse.service

[Service]
Environment="PIPEWIRE_LINK_PASSIVE=true"
Type=exec
ExecStart=/usr/bin/pw-jack carla-rack -n

[Install]
WantedBy=default.target
